#game-container {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
}

#canvas {
  position: relative;
  top: 10%;
  transform: scale(1);
  border: 1px solid black;
}

#restart {
  position: absolute;
  top: 50%;
}

.audio {
  border: 1px, solid, black;
}

#play_audio {
  background: url('../imgs/playbutton.png');
  background-color: rgb(236, 183, 235);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

#pause_audio {
  background: url('../imgs/pausebutton.png');
  background-color: rgb(153, 151, 238);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
