#game-container {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
}

#canvas {
  position: absolute;
  top: 10%;
  transform: scale(1);
}

#restart {
  position: absolute;
}
